Repository wheslleyrimar/BuildCLI, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, documentation, security, good first issue, high priority, low priority, dependencies, tests, ci/cd, refactor, ui/ux, other

.github/labeler.yml:

# Apply the "bug" label if the issue contains the word "bug" or comes from a bug report template.
# Also applies if the PR affects bug-related files or paths.
bug:
  - "bug"
  - "Bug report"
  - "fix/**"
  - "**/*.bug"
  - "hotfix/**"

# Apply the "feature" label if the issue mentions "feature" or is a feature request.
# Also applies if the PR affects feature-related files.
feature:
  - "feature"
  - "Feature request"
  - "feat/**"
  - "**/*.feature"

# Apply the "documentation" label if the issue mentions "documentation"
# or if the PR modifies markdown documentation files.
documentation:
  - "documentation"
  - "docs/**"
  - "**/*.md"
  - "README.md"
  - "CONTRIBUTING.md"

# Apply the "security" label if the issue contains "security" or "vulnerability."
# Also applies if the issue references a CVE or exploit.
security:
  - "security"
  - "vulnerability"
  - "exploit"
  - "CVE-"

# Apply the "good first issue" label if the issue is marked as a beginner-friendly task.
good first issue:
  - "good first issue"
  - "beginner"
  - "starter"
  - "easy"

# Apply the "high priority" label if the issue is urgent or critical.
high priority:
  - "high priority"
  - "urgent"
  - "critical"
  - "blocker"
  - "must-fix"

# Apply the "low priority" label if the issue is minor or not urgent.
low priority:
  - "low priority"
  - "minor"
  - "non-urgent"
  - "nice to have"

# Apply the "dependencies" label if the PR modifies dependency files.
dependencies:
  - "package.json"
  - "package-lock.json"
  - "requirements.txt"

# Apply the "tests" label if the PR modifies test-related files or mentions testing.
tests:
  - "tests/**"
  - "**/*.test.*"
  - "unit test"
  - "integration test"

# Apply the "ci/cd" label if the PR modifies GitHub Actions, CI/CD, or related workflows.
ci/cd:
  - ".github/workflows/**"
  - ".gitlab-ci.yml"
  - "Jenkinsfile"

# Apply the "refactor" label if the PR is focused on code improvements without functional changes.
refactor:
  - "refactor"
  - "code improvement"
  - "cleanup"

# Apply the "ui/ux" label if the PR involves UI, frontend, or design changes.
ui/ux:
  - "ui"
  - "ux"
  - "frontend"
  - "design"
  - "css"
  - "user experience"

# Apply the "other" label if no other categories match.
other:
  - "*"

feaa: add scan and fix command
  src/main/java/org/buildcli/BuildCLI.java
  src/main/java/org/buildcli/CommandExecutor.java
  src/main/java/org/buildcli/actions/commandline/AbstractCommandLineProcess.java
  src/main/java/org/buildcli/actions/commandline/BuildTool.java
  src/main/java/org/buildcli/actions/commandline/CommandLineProcess.java
  src/main/java/org/buildcli/actions/commandline/DockerProcess.java
  src/main/java/org/buildcli/actions/commandline/GradleProcess.java
  src/main/java/org/buildcli/actions/commandline/JavaProcess.java
  src/main/java/org/buildcli/actions/commandline/MavenProcess.java
  src/main/java/org/buildcli/actions/tools/DockerChecker.java
  src/main/java/org/buildcli/actions/tools/GradleChecker.java
  src/main/java/org/buildcli/actions/tools/JDKChecker.java
  src/main/java/org/buildcli/actions/tools/MavenChecker.java
  src/main/java/org/buildcli/actions/tools/ToolChecker.java
  src/main/java/org/buildcli/actions/tools/ToolCheckers.java
  src/main/java/org/buildcli/commands/DoctorCommand.java
  src/main/java/org/buildcli/commands/doctor/FixCommand.java
  src/main/java/org/buildcli/commands/doctor/ScanCommand.java
  src/main/java/org/buildcli/commands/project/BuildCommand.java
  src/main/java/org/buildcli/utils/GradleInstaller.java
Labels: none

fix: gradle version
  src/main/java/org/buildcli/actions/tools/GradleChecker.java
  src/main/java/org/buildcli/commands/doctor/FixCommand.java
  src/main/java/org/buildcli/commands/doctor/ScanCommand.java
Labels: none

refactor: fix messages
  src/main/java/org/buildcli/commands/doctor/FixCommand.java
Labels: none

Automatic Linting and Formatting
  .github/workflows/lint-and-format.yml
Labels: ci/cd

fixed
  .github/workflows/lint-and-format.yml
Labels: ci/cd

Fix warnings/errors
  src/main/java/org/buildcli/actions/ai/factories/GeneralAIServiceFactory.java
  src/main/java/org/buildcli/actions/ai/service/JLamaAIService.java
  src/main/java/org/buildcli/commands/ProjectCommand.java
  src/main/java/org/buildcli/domain/git/GitCommandExecutor.java
  src/main/java/org/buildcli/utils/GradleInstaller.java
  src/main/java/org/buildcli/utils/MavenInstaller.java
Labels: none

refactor: Create new classes for better readability and use of JGit operations, and remove unnecessary methods.
  src/main/java/org/buildcli/domain/git/GitCommandExecutor.java
  src/main/java/org/buildcli/domain/git/GitCommandFormatter.java
  src/main/java/org/buildcli/domain/git/GitCommandUtils.java
  src/main/java/org/buildcli/domain/git/GitOperations.java
Labels: none

feat: class for CLI Interactions such as get confirmation of an action
  src/main/java/org/buildcli/utils/tools/CLIInteractions.java
Labels: none

refactor: changed class name from 'BuildCLIIntro' to 'BuildCliService'
  src/main/java/org/buildcli/CommandLineRunner.java
  src/main/java/org/buildcli/commands/AboutCommand.java
Labels: none

feat: created methods to move between directories, copy folder/files and get bin path
  src/main/java/org/buildcli/utils/OS.java
Labels: none

feat: created method updateBuildCLI, changed the name of class to make more sense, created methods to update local repository and generate the jar
  src/main/java/org/buildcli/utils/BuildCLIIntro.java
  src/main/java/org/buildcli/utils/BuildCLIService.java
Labels: none

Add a new feature
  .github/CONTRIBUTING.md
Labels: documentation

updated workflows failing and comment body
  .github/workflows/close-issue-on-pr-merge.yaml
Labels: ci/cd

Familiarizing Yourself with BuildCLI Document
  .github/CONTRIBUTING.md
  PROJECT_FAMILIARIZATION.md
  README.md
Labels: documentation, other

feat: minor adjustments
  src/main/java/org/buildcli/domain/git/GitOperations.java
  src/main/java/org/buildcli/utils/BuildCLIService.java
  src/main/java/org/buildcli/utils/OS.java
Labels: none

fix: Adjustment of correct behavior when users answer 'no' and close scanner
  src/main/java/org/buildcli/utils/BuildCLIService.java
  src/main/java/org/buildcli/utils/tools/CLIInteractions.java
Labels: none

fix: Adjustment of correct behavior when users answer 'no' and correct if verification for updated status
  src/main/java/org/buildcli/utils/BuildCLIService.java
  src/main/java/org/buildcli/utils/tools/CLIInteractions.java
Labels: none
